<%= render "navigation" %>

<p style="color: pink"><%= notice %></p>

<h1><%= @user.name %></h1>

<style>
  .cover {
    object-fit: cover;
  }
</style>

<div>
  <p></p>
  <% if @user.picture.attached? %>
    <%= image_tag @user.picture.variant(:thumb), class: "rounded-circle shadow-4 cover", alt: "Avatar" %>
  <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="grey" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
  <% end %>
  <p></p>

  <p><%= @user.email %></p>
  
  <p>Change password</p>
  <%= form_with url: change_password_path, method: :post, data: {turbo: false} do |form| %>
    <div class="col-lg-3">
      <p><%= form.password_field :current, placeholder: "Current password", value: params[:current], class: "form-control"%></p>
    </div>
    <div class="col-lg-3">
      <p><%= form.password_field :new, placeholder: "New password", class: "form-control" %></p>
    </div>
    <div class="col-lg-3">
      <p><%= form.password_field :confirm, placeholder: "Confirm password", class: "form-control" %></p>
    </div>
    <p><%= form.submit "Save", class: "btn btn-primary" %></p>
  <% end %>

</div>