<%= render "navigation" %>

<p style="color:green"><%= notice %></p>

<h1><%= "#{@user.name}\'s" %> purchase history</h1>

<div style="width:100%">
  <table id="purchase-history" class="display row-border hover" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Category</th>
        <th>Seller</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Timestamp</th>
        <th hidden></th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do |inventory| %>
        <% item = Item.find(inventory.item_id) %>
        <% seller = User.find(inventory.seller_id) %>
        <tr>
          <td class="align-middle"></td>
          <td class="align-middle"><%= item.name %></td>
          <td class="align-middle"><%= item.category %></td>
          <td class="align-middle"><%= seller.name %></td>
          <td class="align-middle"><%= inventory.price %></td>
          <td class="align-middle"><%= inventory.qty %></td>
          <td class="align-middle"><%= inventory.created_at %></td>
          <td hidden>
            <% if item.picture.attached? %>
              <%= url_for(item.picture) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  /* Formatting function for row details - modify as you need */
  function format(d) {
    // `d` is the original data object for the row
    return (
      `<img src="${d.url}" alt="Unavailable" width="100" height="100" />`
    );
  }

  $(document).ready(function () {
    var table = $('#purchase-history').DataTable({
      paging: false,
      scrollX: true,
      scrollY: "60vh",
      scrollCollapse: true,
      columns: [
        {    
          className: 'dt-control',
          data: null,
          orderable: false,
          defaultContent: ''
        },
        { data: 'item' },
        { data: 'category' },
        { data: 'seller' },
        { data: 'price' },
        { data: 'quantity' },
        { data: 'timestamp' },
        {
          data: 'url',
          orderable: false 
        }
      ],
      order: [[1, 'asc']]
    });
  
    // Add event listener for opening and closing details
    $('#purchase-history tbody').on('click', 'td.dt-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);
      console.log(row)

      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      } else {
        // Open this row
        row.child(format(row.data())).show();
        tr.addClass('shown');
      }
    });
  });
</script>